*{
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}
header{
    height: 10vh;
    background-color: rgb(115, 238, 115);
    padding: 20px;
    border-radius: 7px 7px 0 0px;
}

.container{
    width: 70vw;
    background-color:aliceblue;
    margin: auto;
}
nav ul li {

}
nav ul  {
    display: flex;
}
nav ul li {
    list-style: none;
    padding: 1rem;
}
nav ul li a {
    text-decoration: none;
}
.main{
    margin: 30px;
    padding: 10px;
}
#name{
    margin: 2px;
    width: 90%;
    height: 20px;
}
#email{
    margin: 2px;
    width: 90%;
    height: 20px;
}
#message{
    margin: 2px;
    width: 90%;
    height: 10vh;
}
#subject {
    /* margin: 20px; */
    width: 90%;
    height: 20px;
}
input[type="submit"]{
    margin: 2px;
}
#submit{
    color: white;
    background-color: blue;
    width: 60px;
    height: 25px;
    border-radius: 3px;
}
@media screen and (max-width: 400px ) {
    .container {
        width: 100%;
    }
    
}