body {
    background-color: aliceblue;
}
.Services{
    display: flex;
}
.aboutservices {
    width: 80%;
    margin: auto;
}
.aboutservices p{
    margin: 20px;
    text-align: justify;
}
.aboutservices h1{
    text-align: center;
    text-decoration: underline;
}
@media screen and (max-width: 400px ) {
    .aboutservices {
        width: 100%;
        margin: 0px;
    }
    
}